@media screen and (max-width: 950px) {
    #fun{
        width: 100%;
    }

    #introduction h1{
        font-size: 45px;
    }

    .text{
        font-size: 12px;
    }

    #fun button{
        font-size: 9.75px;
        width: 291.61px;
    }

    .top-part{
        margin-top: 15%;
    }
}

@media screen and (max-width: 660px) {
    #introduction h1{
        font-size: 35px;
    }

    .text{
        font-size: 9.3px;
        width: 100%;
    }

    #fun button{
        width: 242.62px;
    }

    #s-introduction{
        width: 25px;
        height: 25px;
        font-size: 13px;
    }
}

@media screen and (max-width: 450px) {
    #introduction h1{
        font-size: 25px;
    }

    .text{
        font-size: 7.5px;
    }

    #fun button{
        width: 138.64px;
        height: 22.857px;
    }

    #s-introduction{
        width: 20px;
        height: 20px;
        font-size: 10px;
    }
}


@media screen and (max-width: 330px) {
    #introduction h1{
        font-size: 20px;
    }

    .text{
        font-size: 6.5px;
    }
}

@media screen and (max-width: 260px) {
    #introduction h1{
        font-size: 15px;
    }

    
    #fun button{
        width: 120px;
        height: 18px;
        font-size: 8px;
    }

    .text{
        font-size: 5.5px;
    }
    #s-introduction{
        width: 18px;
        height: 18px;
        font-size: 8px;
    }
}

@media screen and (max-width: 210px){
    body{
        display: none;
    }
    
}

/* Mediaqueries for the Instructions Screen*/

@media screen and (max-width: 920px){
    #instructions1, #instructions12{
        width: 600px;
        height: 400px;
    }

    #instructions1 h1, #instructions12 h1{
        top: 70px;
        font-size: 23px;
    }

    .howtoplay{
        top: 150px;
        font-size: 11.2px;
        width: 454px;
    }

    #next{
        width: 146px;
        height: 50px;
        /* top: 325px; */
    }

    #next p{
        font-size: 10px;
    }

    #s-instructions{
        top: 335px;
        left: 130px;
        width: 28px;
        height: 28px;
        font-size: 14px;
    }

    /**************Second Part of the Instruction Screen*************/
    .howtoplay1{
        top: 120px;
        width: 454px;
    }

    .howtoplay1 h2{
        font-size: 17.5px;
    }

    #s-instructions12{
        width: 28px;
        height: 28px;
        font-size: 14px;
        left: 125px;
        top: 360px;
    }

    .buttons2{
        width: 256px;
        top: 350px;
    }

    .buttons2 p, .howtoplay1 p{
        font-size: 9.7px;
    }

    #previous, #begin{
        width: 117.07px;
        height: 44px;
    }

    .timedurations{
        width: 402px;
        margin-top: 20px;
    }

    .difficulties{
        width: 292.68px;
        margin-top: 20px;
    }

    .timedurations > div, .difficulties > div{
        width: 87.80px;
        height: 36.59px;
    }

    .timedurations > div {
        width: 73.17px;
    }
}

@media screen and (max-width: 700px){
    #instructions1, #instructions12{
        width: 400px;
        height: 268px;
    }

    #instructions1 h1, #instructions12 h1{
        top: 60px;
        font-size: 15.6px;
    }

    .howtoplay{
        top: 115px;
        font-size: 7.8px;
        width: 302px;
    }

    #next{
        width: 98px;
        height: 28px;
        /* top: 242px; */
    }
   
    #next p{
        font-size: 7px;
    }

    #s-instructions{
        top: 246px;
        left: 110px;
        width: 18px;
        height: 18px;
        font-size: 8px;
    }

    /**************Second Part of the Instruction Screen*************/
    .howtoplay1{
        top: 80px;
        width: 302px;
    }

    .howtoplay1 h2{
        font-size: 11.7px;
    }

    #s-instructions12{
        width: 18px;
        height: 18px;
        font-size: 8px;
        left: 100px;
        top: 250px;
    }

    .timeduration{
        margin-top: 20px;
    }

    .buttons2{
        width: 170.73px;
        top: 245px;
    }

    .buttons2 p, .howtoplay1 p{
        font-size: 6.49px;
    }

    #previous, #begin{
        width: 78.057px;
        height: 29px;
    }

    .timedurations{
        width: 268.29px;
        margin-top: 15px;
    }

    .difficulties{
        width: 195.12px;
        margin-top: 15px;
    }

    .timedurations > div, .difficulties > div{
        width: 58.5px;
        height: 24.39px;
    }

    .timedurations > div {
        width: 48.78px;
    }
}

@media screen and (max-width: 500px){
    #instructions1, #instructions12{
        width: 300px;
        height: 201px;
    }

    #instructions1 h1, #instructions12 h1{
        top: 55px;
        font-size: 11.7px;
    }

    .howtoplay{
        top: 100px;
        font-size: 5.9px;
        width: 227px;
        height: 28%;
    }

    #next{
        width: 73px;
        height: 18px;
        /* top: 200px; */
    }

    #next p{
        font-size: 6px;
    }

    #s-instructions{
        top: 202px;
        left: 90px;
        width: 14px;
        height: 14px;
        font-size: 6px;
    }

    /**************Second Part of the Instruction Screen*************/
    .howtoplay1{
        top: 60px;
        width: 227px;
    }

    .howtoplay1 h2{
        font-size: 8.78px;
    }

    #s-instructions12{
        width: 14px;
        height: 14px;
        font-size: 6px;
        left: 85px;
        top: 200px;
    }

    .timeduration{
        margin-top: 15px;
    }

    .buttons2{
        width: 128.05px;
        top: 195px;
    }

    .buttons2 p, .howtoplay1 p{
        font-size: 4.87px;
    }

    #previous, #begin{
        width: 58.54px;
        height: 22px;
    }

    .timedurations{
        width: 201px;
        margin-top: 10px;
    }

    .difficulties{
        width: 146.34px;
        margin-top: 10px;
    }

    .timedurations > div, .difficulties > div{
        width: 43.90px;
        height: 18.29px;
    }

    .timedurations > div {
        width: 36.59px;
    }
}

@media screen and (max-width: 400px){
    #instructions1, #instructions12{
        width: 230px;
        height: 154px;
        padding: 0;
    }

    #instructions1 h1, #instructions12 h1{
        top: 10px;
        font-size: 8.9px;
    }

    .howtoplay{
        top: 40px;
        left: 25px;
        font-size: 4.3px;
        width: 170px;
        height: 40%;
    }

    #next{
        width: 50px;
        height: 16px;
        /* top: 120px; */
    }
    
    #next p{
        font-size: 5px;
    }

    #s-instructions{
        top: 121px;
        left: 35px;
        width: 12px;
        height: 12px;
        font-size: 4px;
    }

    /**************Second Part of the Instruction Screen*************/
    .howtoplay1{
        top: 10px;
        width: 170px;
    }

    .howtoplay1 h2{
        font-size: 6.73px;
    }

    #s-instructions12{
        width: 12px;
        height: 12px;
        font-size: 4px;
        left: 35px;
        top: 122px;
    }

    .timeduration{
        margin-top: 10px;
    }

    .buttons2{
        width: 98.17px;
        top: 120px;
        font-size: 3.73px;
    }

    .buttons2 p, .howtoplay1 p{
        font-size: 3.73px;
    }

    #previous, #begin{
        width: 44.88px;
        height: 16.8px;
    }

    .timedurations{
        width: 154px;
        margin-top: 8px;
    }

    .difficulties{
        width: 112.20px;
        margin-top: 8px;
    }

    .timedurations > div, .difficulties > div{
        width: 33.66px;
        height: 14.02px;
    }

    .timedurations > div {
        width: 28.05px;
    }
}