*{
    padding: 0;
    margin: 0;
}

:root{
    --animation-duration: .6s;
    --transition-duration: .3s;
}

@font-face {
    font-family: 'DEADCRT';
    src: url('/Fonts/DEADCRT.woff2') format('woff2'),
        url('/Fonts/DEADCRT.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'aurora';
    src: url('/Fonts/aurora.woff2') format('woff2'),
        url('/Fonts/aurora.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Film Cryptic';
    src: url('FilmCryptic.woff2') format('woff2'),
        url('FilmCryptic.woff') format('woff'), 
        local('FilmCryptic.woff2') format('woff2'),
        local('FilmCryptic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@supports (backdrop-filter: blur()){
    #results, .instructions, #settings{
        backdrop-filter: blur(15px);
    } 
}

@supports not (backdrop-filter: blur()){
    #results, .instructions, #settings{
        background-color: rgba(0, 0, 0, 0.7);
    }
}

.life-line-container{
    position: relative;
    width: 230px;
    height: 100%;
    display: flex;
    align-items: center;
}

.screen-container{
    height: 39.35px;
    z-index: -2;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

.life-heart{
    z-index: 2;
    position: absolute;
    width: 98px;
    height: 100%;
    right: 0px;
}

#life-line{
    width: 200px;
    height: 39.35px;
}

.life-line{
    width: 100%;
    height: 100%;
    position: relative;
}

.left{
    width: 180px;
    margin: 17px 0 0 35px;
    position: relative;
}

.counter-container{
    height: 81.27px;
    width: 165px;
    position: relative;
}

.Mole{
    height: 100%;
    width: 80px;
    position: absolute;
    right: 0;
}

.settings, #instructions12, .result, #credits, #instructions-0{
    font-family: 'DEADCRT';
}

.mole:hover, .button:hover{
    cursor: url('hammericon.cur'), url('/Images/hammericon.png'), pointer;
}

.buttons{
    display: flex;
    flex-direction: row;
    width: inherit;
    justify-content: center;
    margin-top: 20px;
}

button{
    width: 100px;
    height: 45px;
    color: whitesmoke;
    background-color: green;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius:  5px;
}

.button{
    width: 100px;
    height: 70px;
    color: whitesmoke;
    position: relative;
}

.button>p{
    font-size: 13.3px;
}

.button>img{
    width: 100%;
    height: 100%;
}

button:hover{
    background-color: brown;
}

#introduction{
    z-index: 7;
    height: inherit;
    width: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white; 
    background-image: url("/Images/introduction-background.jpg");
    background-size: cover;
}

#introduction h1{
    font-family: 'aurora';
    color:  white;
    font-size: 60px;
    text-align: center;
}

.background-mole{
    max-width: 35%;
    max-height: 35%;
}

.logo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#fun button{
    width: 350px;
    height: 40px;
    margin-bottom: 130px;
    margin-top: 50px;
}

#fun{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 900px;
    min-height: 100vh;
}

.top-part{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.lower-part{
    width: 100%;
    display: flex;
    justify-content: center;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    text-align: center;
}

.text a {
    text-decoration: none;
}

.socialmedia{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
    width: fit-content;
}

.fa-brands{
    font-size: 35px;
}

.fa-linkedin{
   color: #0A66C2; 
}

.fa-github{
    color: black;
    margin: 0 30px;
}

.mail{
    max-width: 35px;
    max-height: 35px;
}

#instructions{
    z-index: 6;
    display: none;
    background-image: url("/Images/introduction-background.jpg");
    background-size: cover;
}

.instructions{
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.settings{
    width: 820px;
    height: 550px;
    padding: 40px;
    position: relative;
    display: none;
    flex-direction: column;
    align-items: center;
}

.settings h1{
    position: absolute;
    top: 85px;
}

#instructions-0{
    display: flex;
    animation: menu-animation var(--animation-duration) linear;
}

.board, .settings img, .credits img{
    width: 100%;
    height: 100%;
}

#instructions-0{
    width: 820px;
    height: 550px;
    padding: 40px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.h1-container{
    position: absolute;
    top: 80px;
    left: 34%;
    width: 270px;
    overflow-x: hidden;
}

#h1-main{
    position: relative;
    display: flex;
    flex-direction: row;
    width: fit-content;
    left: 0;
    transition: left var(--transition-duration) linear;
}

#h1-main > h1 {
    font-size: 24px;
    padding: 0 10px;
    width: 270px;
}

.instruction-navigation-container{
    width: 675px;
    height: 15%;
    position: absolute;
    top: 73%;
    overflow: hidden;
}

#instruction-navigation-list{
    width: fit-content;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 0;
    transition: left var(--transition-duration) linear;
}

.instruction-navigation{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 675px;
}

.instruction-navigation img{
    width: 100%;
    height: 100%;
}

.shift{
    position: relative;
    left: -10px;
}

.back-arrow, .numberofpages, .front-arrow{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
    height: 50%;
}

.howtoplay-container{
    width: 75%;
    height: 48%;
    overflow-x: hidden;
    position: absolute;
    top: 170px;
}

#howtoplay-main{
    width: fit-content;
    height: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
    left: 0;
    transition: left var(--transition-duration) linear;
}

.howtoplay0{
    height: 100%;
    width: 675px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.part1{
    display: flex;
    flex-direction: row;
    height: 45%;
}

.part2{
    display: flex;
    flex-direction: row-reverse;
    height: 45%;
}

.part-image, .part-text{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    font-size: 12px;
    line-height: 170%;
}

.part-image{
    height: 90%;
    display: block;
    margin: unset;
}

#life-line-dummy{
    width: 60%;
    height: 39.35px;
    z-index: unset;
    position: relative;
    left: 30px;
}

#life-heart-dummy{
    right: 45px;
    top: 0;
}

.part-text{
    padding: 0 5%;
}

#t-container-dummy{
    width: 140px;
    left: 30%;
    top: 60%;
    z-index: unset;
}

#stopwatch-dummy{
    height: 100%;
    position: relative;
    left: 10%;
}

.timer-dummy{
    left: 65% !important;
    transform: translate(-65%, -50%) !important;
}

#c-container-dummy{
    z-index: unset;
    left: 50px;
}

#Mole-dummy{
    height: 65%;
    width: 25%;
    position: relative;
    top: 20px;
    left: 130px;
}

.blackboard-container-dummy{
    position: relative;
    height: 100%;
    display: block;
}

#blackboard-dummy{
    width: 30%;
    height: 100%;
    margin: unset;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 120px;
}

#writing-area-dummy{
    height: 85%;
    width: 35%;
}

#instructions12{
    display: none; 
    flex-direction: column;
    align-items: center;
    width: 820px;
    height: 550px;
    padding: 40px;
    position: relative;
    animation: menu-animation var(--animation-duration) linear;
}

#instructions12 h1{
    position: absolute;
    top: 80px;
}

.howtoplay1{
    width: 80%;
    position: absolute;
    top: 160px;
}

#next, #close{
    width: 200px;
    margin: 0 2%;
}

.buttons2{
    width: 350px;
    position: absolute;
    top: 455px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#previous, #begin{
    width: 160px;
    height: 60px;
}

.difficulty, .timeduration{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.timedurations, .difficulties{
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.difficulties{
    width: 400px;
}

.timedurations{
    width: 550px;
}

.timedurations > div, .difficulties > div{
    width: 120px;
    height: 50px;
}

.timedurations > div{
    width: 100px;
}

.sound{
    width: 30px;
    height: 30px;
    color: white;
    position: relative;
    left: -10%;
}

.adjust{
    left: -20%;
}

.circle-image{
    height: 100%;
    width: 100%;
}

#s-instructions12{
    position: absolute;
    left: 160px;
    top: 470px;
}

.fa-solid, .button>p, .settings p, .okay-button p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.setting-container{
    height: 30%;
    position: absolute;
    top: 190px;
    width: 620px;
}


#game{
    display: none;
    min-height: 100vh;
    width: 100%;
    position: relative;
}

.background-image-container-1, .background-image-container-2{
    z-index: -2;
    position: absolute;
    width: 100%;
    height: 68.75%;
    top: 0;
    background-size: 100% 100%;
    background-image: url("/Images/sky2.png");
}

.background-image-container-2{
    z-index: -1;
    top: unset;
    bottom: 0;
    height: 71.22%;
    background-image: url("/Images/hill 2.png");
}

.options{
    position: absolute;
    top: 143px;
    left: 53px;
    width: 46px;
    height: fit-content;
}

.options img, .bottom-controls img{
    width: 100%;
    height: 100%;
}

.sound:hover, .button2:hover, .switch, .back-arrow, .front-arrow, .reduce, .increase{
    cursor: pointer;
}

#sound-container{
    width: 46px;
    height: 50px;
    position: unset;
    left: unset;
}

#sound-container > .fa-solid{
    color: white;
    top: 11%;
    left: 60%;
    transform: translate(-60%, 11%);
}

#info-container{
    width: 42px;
    height: 42px;
    margin: 15px 0 15px 0;
}

#info-container > .fa-solid{
    color: white;
    top: 55%;
    transform: translate(-50%, -55%);
    font-size: 18px;
}

#settings-container{
    width: 100%;
    height: 35px;
}

#settings-container > .fa-solid{
    color: white;
    top: 93%;
    transform: translate(-50%, -93%);
}

.bottom-controls{
    width: fit-content;
    height: 48px;
    position: absolute;
    bottom: 0;
    margin-bottom: 25px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    flex-direction: row;
    align-items: center;
}

#pause-container{
    width: 60px;
    height: 35px;
}

#pause-container > .fa-solid{
    color: white;
    left: 10%;
    top: 35%;
    transform: unset;
}

#stop-container{
    width: 42px;
    height: 100%;
    margin: 0 42px 0 33px;
}

#stop-container > .fa-solid{
    color: white;
    left: 49%;
    top: 35%;
    transform: unset;
}

#menu-container{
    width: 46px;
    height: 35px;
}

#menu-container > .fa-solid{
    color: white;
    left: 86%;
    top: 35%;
    transform: unset;
}

#blackboard-container{
    position: absolute;
    height: fit-content;
    top: 22%;
    right: 59px;
    display: block;
}

.blackboard{
    width: 269px;
    height: 400px;
    margin-bottom: 20px;
    background-color:#CE8B57;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.writing-area{
    width: 192px;
    background-color:#75B14D;
    height: 360.42px;
    position: relative;
    color: white;
    font-family: 'Film Cryptic';
    padding: 0 20px;
    font-weight: 400;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.titles-container{
    overflow-x: hidden;
    width: 100px;
    height: fit-content;
}

#scorer-container{
    overflow-x: hidden;
    width: 192px;
    height: fit-content;
}

.titles-container h1{
    font-size: 20px;
    text-align: center;
    font-weight: 400;
}

.titles-main, .scorer-main{
    position: relative;
    left: 0;
    display: flex;
    flex-direction: row;
    width: fit-content;
    transition: left var(--transition-duration) linear;
}

.title{
    height: 100%;
    width: 100px;
    margin: 15px 0 15px 0;
    display: flex;
    flex-direction: column;
}

.score{
    width: 192px;
}

.scorer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    font-size: 14px;
}

.scorer > h4:nth-child(2){
    max-width: 130px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

.duster{
    position: absolute;
    bottom: 0;
    right: 55px;
    width: 41px;
    height: 13px;
    background-color: #E1965D;
    border: 1px solid black;
}

.holder{
    background-color: #DD5760;
    height: 6px;
}

.chalk{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 45px;
    height: 8px;
    background-color: #FBF7F5;
    border-radius: 8.5px;
}

.blackboard-navigation{
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.blackboard-navigation > img{
    height: 100%;
    width: 30px;
}

.blackboard-navigation > img:first-child{
    margin-right: 40px;
}

#main{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 545px;
    height: 440px;
    display: grid;
    grid-gap: 0px;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 147px;
}

#main > div{
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

#timers{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 103px;
    width: 100%;
}

#counter, #timer{
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-45%, -50%);
    color: white;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
}

#t-container{
    width: 150px;
    left: 55%;
    top: 60%;
    transform: translate(-55%, -60%);
}

#timer{
    left: 70%;
    transform: translate(-70%, -50%);
}

.stopwatch{
    height: 100%;
}

.right{
    width: 464px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 25px;
    align-items: center;
}

.container-hearts{
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    height: 22px;
    width: 130px;
    left: 12px;
    top: 8px;
}

.container-hearts img{
    height: 100%;
}

#c-container{
    width: 139px;
}

.screen{
    width: 100%;
    height: 100%;
}

#settings{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 3;
    display: none;
}

.settings{
    display: flex;
    margin: auto;
    animation: menu-animation var(--animation-duration)  linear;
}

#credits{
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
}

.credits{
    width: 500px;
    height: 600px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.credits h1{
    text-align: center;
    position: absolute;
    top: 80px;
}

.credits-content{
    position: absolute;
    top: 150px;
}

.credit{
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.credit:last-child{
    margin-bottom: 0;
}

.credit h2{
    font-size: 18px;
}

.credit h5{
    margin-top: 15px;
    font-size: 10px;
    text-align: center;
    line-height: 1.6;
}

.credit h5:first-of-type{
    margin-top: 10px;
}

.credit a{
    text-decoration: none;
}

.credit a:hover{
    text-decoration: underline;
    color:green;
}

.setting-container{
    top: 170px;
    height: fit-content;
}

.setting-container > div{
    height: 70px;
    display: flex;
    align-items: center;
}

.score-board, .sound-effects{
    justify-content: space-between;
}

.switch{
    position: relative;
    width: 80px;
    height: 40px;
}

.on, .off{
    height: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.whole-switch{
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.ball{
    max-width: 25px;
    max-height: 25px;
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translate(0, -50%);
    transition: right var(--transition-duration) linear;
}

.reduce{
    width: 40px;
    height: 15px;
}

.increase{
    width: 40px;
    height: 40px;
}

.circle{
    max-width: 25px;
    max-height: 25px;
    position: absolute;
    left: 22.5px;
}

#circle2{
    left: 220.5px;
}

.volume-title{
    width: 280px;
}

.music-bar{
    width: 265px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.gauge{
    width: 220px;
    height: 5px;
    background-color: #553320;
    border-radius: 2.5px;
}

.volume{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: fit-content;
}

#credits-button, .okay-button{
    width: 155px;
    height: 50px;
    position: absolute;
    top: 455px;
}

#credits-button:hover, .okay-button:hover{
    cursor: pointer;
}

.okay-button{
    top: 540px;
    height: 60px;
    width: 180px;
}

.hole{
    z-index: 2;
    width: 70%;
    height: 50px;
}

#mole1, #mole2, #mole3, #mole4, #mole5, #mole6, #mole7, #mole8, #mole9{
    visibility: hidden;
}

.x{
    position: absolute;
    height: 80px;
    width: 80px;
    top: 30px;
    z-index: 3;
    display: none;
}

.mole{
    z-index: 1;
    position: relative;
    top: 30px;
    width: 60%;
    height: 110px;
    animation: mole-popping 1.5s ease-in 1 forwards;
}

@keyframes mole-popping {
    0% {
        top: 130px;
    }

    50% {
        top: 30px;
    }

    100%{
        top: 130px;
    }
    
}

#results{
    z-index: 4;
    height: inherit;
    width: inherit;
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    bottom: 0;
}

.result{
    width: 50%;
    height: 50%;
    background-color: whitesmoke;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.result h1{
    margin-bottom: 70px;
}

.result h4{
    margin-right: 10px;
}

.moles1{
    max-width: 80px;
    max-height: 100px;
}

.moles2{
    max-width: 40px;
    max-height: 50px;
}

.moles3{
    max-width: 20px;
    max-height: 25px;
}

.test{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


@keyframes menu-animation {
    0%{
        transform: scale(0);
    }

    50%{
        transform: scale(0.5);
    }

    100%{
        transform: scale(1);
    }
}