*{
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'DEADCRT';
    src: url('DEADCRT.woff2') format('woff2'),
        url('DEADCRT.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'aurora';
    src: url('aurora.woff2') format('woff2'),
        url('aurora.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body{
    background-image: url("grass.png");
    position: relative;
    height: 100vh;
    width: 100vw;
}

#main{
    z-index: 2;
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    visibility: hidden;
}

#timers{
    z-index: 0;
    position: absolute;
    bottom: 83%;
    width: 100%;
    height: 15%;
    display: flex; 
    justify-content: space-between;
    visibility: hidden;
}

#counter{
    font-size: 6vw;
    color: white;
}

.left{
    position: absolute;
    right: 2%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    width: 50%;
    height: 90%;
}

.left img{
    max-width: 50%;
    max-height: 50%;
    margin-right: 2%;
}

#timer{
    font-size: 6vw;
    color: white;
}

.right{
    position: absolute;
    left: 2%;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
    height: 90%;
}

.right img{
    max-width: 50%;
    max-height: 50%;
    margin-left: 2%;
}

.highscores{
    z-index: 0;
    position: absolute;
    bottom: 25%;
    left: 2%;
    display: flex; 
    flex-direction: column;
    align-items: center;
    width: 15%;
    height: 350px;
    border: 1px solid white;
    color: white;
    border-radius: 5px;
    overflow-y: auto;
}

#highscores{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.highscores h1{
    font-size: 23px;
    margin-top: 5px;
}

#difficulty{
    font-size: 13px;
    margin-top: 3px;
}

.scorer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    font-size: 16px;
    width: 80%;
}

.scorer h4{
    width: 85%;
}

.scorer h5{
    width: 15%;
}

#hole{
    z-index: 2;
    max-width: 55%;
    max-height: 55%;
}

#mole1, #mole2, #mole3, #mole4, #mole5, #mole6, #mole7, #mole8, #mole9{
    visibility: hidden;
}

.mole{
    z-index: 1;
    position: relative;
    top: 30px;
    max-width: 40%;
    max-height: 40%;
}

.col1, .col2{
    margin-bottom: 20%;
}

.col1,.col2, .col3{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.col1:hover, .col2:hover, .col3:hover, button:hover{
    cursor: url('hammericon.cur'), url('hammericon.png'), pointer;
}


#results{
    z-index: 4;
    height: inherit;
    width: inherit;
    backdrop-filter: blur(5px);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    visibility: hidden;
}

.result{
    width: 50%;
    height: 50%;
    background-color: whitesmoke;
    border-radius: 15px;
    font-family: 'DEADCRT';
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.result h1{
    margin-bottom: 70px;
}

.result h4{
    margin-right: 10px;
}

.moles1{
    max-width: 80px;
    max-height: 100px;
}

.moles2{
    max-width: 40px;
    max-height: 50px;
}

.moles3{
    max-width: 20px;
    max-height: 25px;
}

.test{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.buttons{
    display: flex;
    flex-direction: row;
    width: inherit;
    justify-content: center;
    margin-top: 20px;
}

button{
    width: 100px;
    height: 45px;
    color: whitesmoke;
    background-color: green;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius:  5px;
}

button:hover{
    background-color: brown;
}

.retry{
    margin-right: 10%;
}

.mainmenu{
    margin-right: 10%;
}

.pauseorplay{
    position: fixed;
    bottom: 2%;
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.pause, .play{
    width: 10%;
    background-color: transparent;
    border: 1px solid rgb(255, 255, 255, 1)
}

.pause{
    margin-right: 30px;
}


.pause:hover, .play:hover{
    background-color: green;
}

#introduction{
    z-index: 7;
    background-image: url("introduction-background.jpg");
    background-size: cover;
    background-repeat: repeat;
    height: inherit;
    width: inherit;
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white; 
}

#introduction h1{
    font-family: 'aurora';
    color:  white;
    font-size: 70px;
}

#introduction img{
    max-width: 50%;
    max-height: 50%;
}

.logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.fun button{
    width: 400px;
    height: 50px;
}

.fun{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 80%;
    height: 80%;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text a {
    text-decoration: none;
    color:green;
}

#instructions{
    z-index: 6;
    background-image: url("introduction-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    position: fixed;
    bottom: 0;
    visibility: hidden;
}

.instructions{
    backdrop-filter: blur(5px);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#instructions1{
    width: 60%;
    height: 60%;
    background-color: whitesmoke;
    border-radius: 15px;
    font-family: 'DEADCRT';
    padding: 50px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#instructions1 h1{
    margin: 30px 0 30px 0;
}

#instructions1 li{
    margin-top: 20px;
}

.next {
    margin-top: 50px;
    width: 200px;
}

.howtoplay{
    width: 80%;
}

.howtoplay1{
    width: 80%;
}

#instructions12{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: whitesmoke;
    width: 60%;
    height: 60%;
    border-radius: 15px;
    font-family: 'DEADCRT';
    padding: 50px;
    visibility: hidden;
}

#instructions12 h1{
    margin: 20px 0 0 0;
}

.buttons2{
    margin-top: 50px;
}

.difficulty, .timeduration{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.difficulty, .timeduration{
    margin-top: 40px;
}

.timedurations, .difficulties{
    margin-top: 20px;
}

#sound{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: green;
    color: white;
    position: absolute;
    bottom: 5%;
    left: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sound:hover{
    cursor: pointer;
}

.change{
    background-color: brown;
}